<!DOCTYPE html>
<html lang="en">

<head>

    {% block title %}
    <title>Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'iniciativas/style.css' %}" />
</head>

<body>
    <div id="main-content">
        {% block sidebar %}
        <div id="left-container">
            <img id="logo" src="{% static "images/techo_logo.png" %}" alt="My image" />
            <h3>
                iniciativas TECHO
            </h3>
            <span id="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies, mi vitae commodo aliquam, lorem risus convallis urna,
                eu gravida nisi felis non eros. Donec volutpat ligula auctor leo vulputate sodales. 
            </span>
            <br><br>
            <button type="button" class="btn btn-success">¡Postula tu idea!</button>
        </div>
        {% endblock %}
        <div id="right-container">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>

</html>